<div class="portrait">

  <div class="box-book-cover">
    <div class="book-cover">
      <% if book.cover_url %>
          <%= image_tag book.cover_url, class:"book-cover-img" %>
      <% elsif book.cover_img.attached? %>
          <%= cl_image_tag book.cover_img.key, class:"book-cover-img" %>
      <% end %>
      <div class="info-button">
        <i class="fa-solid fa-circle-info"></i>
      </div>
      <%# <% book.genres.each do |genre| %>
        <%# <span class="badge rounded-pill text-bg-primary"><%= genre.name </span> %>
      <%# <% end %>
    </div>
  </div>
  <div class="book-info-portrait">
    <p class="book-title-portrait"><%= book.title %></p>
    <% if book.serie %>
        <p class="book-series-portrait">N°<%= book.serie_number %> - <%= book.serie.name %></p>
    <% end %>
  </div>
</div>
