<%= render 'partials/books/book_card', book: book, collection: collection %>
<div data-controller='update-book'>
  <div class='d-flex justify-content-end'>
    <button class='edit-book' data-update-book-target='button' data-action='click->update-book#toggleForm'>
      <i class="fa-solid fa-pen"></i>
    </button>
  </div>
  <div class='d-none' data-update-book-target='form'>
    <%= simple_form_for book, method: :patch do |f| %>
      <%= f.input :book_type,
        label: 'Type',
        prompt: 'Choisissez un type..',
        collection: Book::TYPES
      %>
      <hr>
      <div class="form-block-description">
        <%= f.input :description, label: false, placeholder: 'Description', input_html: {class: 'mb-0 w-100 hello'} %>
      </div>
      <hr>
      <div class='genre-block'>
        <%= f.association :genres, as: :check_boxes,
          input_html: {class: 'book-genre-input-button'},
          item_wrapper_class: 'genre-wrapper'
        %>
      </div>
      <hr>
      <div class='add-btn' data-action='click->update-book#toggleForm'>
        <%= f.submit "OK", class:'add-book'%>
      </div>
    <% end %>
  </div>
  <hr>

</div>
